@import '@mdi/font/css/materialdesignicons.min.css';
  
  
html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  }

  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    }
  


#app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  }
    